.photo-grid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  /*
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  */
  grid-template-columns: repeat(auto-fit, minmax(284px, 4fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  margin: 0;
  gap: 16px;
}
