@import url("../vendor/normalize.css");
@import url("../blocks/page.css");
@import url("../blocks/mediaquery.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/header.css");
@import url("../blocks/header-footer.css");

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
